<div class="max-w-md items-center justify-center w-full space-y-8">
  <div>
    <h2 class="mb-6 text-slate-700 font-extrabold text-3xl sm:text-4xl lg:text-5xl text-center">Welcome to the Password-less Demo</h2>
    <p class="mt-2 text-center text-sm text-gray-600">This is a demo of signing in to a Rails app using a 6 digit validation code that will be sent to your email.</p>
  </div>
  <div class="text-center">
    <% if logged_in? %>
      <p class="m-4 text-center text-green-600">Logged in as <%= current_user.email %></p>
      <%= button_to "Sign Out", auth_path, method: :delete, class: "inline-flex items-center gap-x-1.5 rounded-md bg-gray-600 py-2 px-3 mr-4 text-sm font-semibold text-white shadow-sm"%>
    <% else %>
      <%= link_to "Sign In", auth_path, class: "inline-flex items-center gap-x-1.5 rounded-md bg-green-600 py-2 px-3 mr-4 text-sm font-semibold text-white shadow-sm"%>
    <% end %>
  </div>
</div>

